/*
Theme Name:         Default Wp-Boostrap Theme
Theme URI:          http://www.websolute.com/
Description:        WordPress theme developped by <a href="http://websolute.com">websolute</a>
Version:            1.1.0
Author:             websolute
Author URI:         https://wwww.websolute.com/
Text Domain:        Wispone Theme  - OSDept

License:            MIT License
License URI:        http://opensource.org/licenses/MIT
*/



/* HEADER & FOOTER DEFAULTS*/


.nopad { padding: 0;}

body{font-family: 'Roboto', sans-serif; font-size: 16px;}
footer, nav{font-family: 'Roboto', sans-serif;}
.container-fluid { max-width: 1200px;}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {font-family: 'Quicksand', sans-serif; font-weight: 700; }

.navbar-brand {padding: 0 15px}



@media (min-width: 1200px) {

}


@media only screen and (min-width: 768px) and (max-width: 959px) {

}


@media only screen and (max-width: 767px) {
.navbar-nav > li > a {line-height: 20px; border-right:none}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
}