/*
Theme Name:         Landi Gas Specialist
Theme URI:          http://specialist.landi.it/
Description:        WordPress theme developped by <a href="http://websolute.com">websolute</a>
Version:            1.1.0
Author:             websolute
Author URI:         https://wwww.websolute.com/
Text Domain:        Landi Theme  - OSDept

License:            MIT License
License URI:        http://opensource.org/licenses/MIT
*/



/* HEADER & FOOTER DEFAULTS*/


.nopad { padding: 0 !important;}
.nomar { margin: 0 !important;}
small {font-size: 0.667em;}


body{font-family: 'Lato', sans-serif; font-size: 18px;}
footer, nav{font-family: 'Lato', sans-serif;}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {font-family: 'Lato', sans-serif; font-weight: 900; color: rgba(0,84, 157,1);
 }

.container-fluid{ max-width: 1596px;}

/* COMPONENT HTML */

.btn {
    -moz-user-select: none;
    background: none;
    color: #fff;
    border: 2px solid rgba(255, 255, 255, 1);
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 10px 30px 12px;
    border-radius: 3px 3px 3px 3px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    transition: all 300ms ease-in-out;
}

.btn:hover {
	  background: rgb(255,255,255);
	  color: rgba(0,84, 157, 1);
	  border: 2px solid rgba(255, 255, 255, 1);
}

.btn-primary {
	border-width: 0 0 2px;
	text-transform: uppercase;
	padding: 8px 0;
	border-radius: 0;
    color:rgba(0,84, 157, 1);
    border-color: rgba(0,84, 157, 1);

}

.btn-primary:hover {
	background: none;
    border-width: 0 0 2px;
    padding: 8px 0 5px;
    border-color: rgba(0,84, 157, 0.8);
    margin-bottom: 3px !important;
}

.btn-secondary {
	border-width: 0 0 2px;
	text-transform: uppercase;
	padding: 8px 0;
	border-radius: 0;

}

.btn-secondary:hover {
	color:  rgb(255,255,255);
	background: none;
    border-width: 0 0 5px;
    padding: 8px 0 6px;
}




.btn-warning {
	background: rgba(239,114, 0, 1);
	text-transform: uppercase;
	color:  rgb(255,255,255);
	border: none;

}

.btn-warning:hover {
	background: rgba(240, 117, 0, 0.35);
	color:  rgb(255,255,255);
	border: none;
}

/* MAIN MENU */
.btn-main-menu{position: absolute;top: 60px; right: 60px; z-index: 10000}

.navbar-brand  {position: absolute;top: 20px;left: 60px; z-index: 10000;  transition: all 300ms ease-in-out; height: 80px;}
.navbar-brand img {transition: all 300ms ease-in-out; height: 80px;}


.modal-open .navbar-brand {top:30px;}
.modal-open .navbar-brand img {height: 70px;}

.top-cta {position: absolute;top: 73px; right: 160px;  transition: all 300ms ease-in-out; }
.modal-open .top-cta { opacity: 0;}
.top-cta .btn-warning {  padding: 7px 20px 6px; font-size: 0.667em; line-height: 1em }
.top-cta .btn-warning i { margin-top: -2px;}
.navbar {
    border-radius: 0;
    margin: 0 auto;
    position: absolute;
    width: 100%;
    z-index: 1000000;

}




#menuModal {  padding-right: 0 !important;}



.right-menu, .left-menu {
	       height: 100%;
		   min-height: 768px;
		   margin: 0 0 0 0;

}


.left-menu{
	margin-top: 10%;
}

.menu-dx-content{
	margin-top: 35%;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	color: #FFF !important;
}

.menu-sx-content {
	padding-left: 60px;
	line-height: 80px;
	color: #FFF

}
.menu-sx-content a {color: #fff;}

.menu-dx{ margin-left:20px; font-size: 2em; line-height: 2.1em; }
.menu-dx li { list-style: none;}
.menu-dx li a{ color: #FFF;
  position: relative;
  text-decoration: none;
}
.menu-dx li a:after {
  content: '';
  position: absolute;
  bottom: -.4em;
  left: 50%;
  right: 50%;
  height: 3px;
  background:#fff;
  -webkit-transition: all ease .2s;
  transition: all ease .2s;
}
.menu-dx li a:hover:after {
  left: 0;
  right: 0;
  height: 3px;
}
.menu-dx li a:before {
  position: absolute;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  left: -10px;
  color: #eee;
  opacity: .3;
  font-weight: 100;
  font-size: .8em;
}

.fullscreen h2 { color:rgba(255,255,255,1)}

.fullscreen .modal-dialog {
        margin: 0 0 0 0;
        width: 100%;
        height: 100%;
        min-height: 100%;
        color: #FFF;
    }

    .fullscreen .modal-content {
        height: 100%;
        min-height: 100%;
        border-radius: 0;
        color: #333;
        background: rgba(0,84, 157, 0.95);
        overflow:auto;

    }
	.fullscreen .modal-body { padding: 0;}


    @media (max-width: 480px){


    }



#nav-toggle {
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #fff;
  position: absolute;
  display: block;
  content: '';
}

#nav-toggle span:before {
  top: -10px;
}

#nav-toggle span:after {
  bottom: -10px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after, #nav-toggle small {
  transition: all 300ms ease-in-out;
  border-radius: 3px;
}

#nav-toggle.active span {
  background-color: transparent;
}

#nav-toggle.active span:before,
#nav-toggle.active span:after {
  top: 0;
}

#nav-toggle.active span:before {
  transform: rotate(45deg);
  background-color: white;
}

#nav-toggle.active span:after {
  transform: rotate(-45deg);
  background-color: white;
}

#nav-toggle small{
	float: left;
	margin-left: -70px;
	margin-top: 20px;
	opacity: 0;
		color: #fff;

}

#nav-toggle.active small{
	opacity: 1;
	margin-left: -90px;
	color: #fff;
}


/* CUSTOM */
.ult-ih-info-back {background-color: rgba(245, 246, 248, 1)}


/* FOOTER */

footer { padding-top: 6.667em; padding-bottom: 6.667em; background: rgb(0,84, 157);}

footer h1,footer h2,footer h3,footer h4,footer h5, footer h6, footer a { color: rgba(255, 255, 255, 1); font-weight: 400;}
footer .social { padding:0;}
footer .social li{ padding: 20px 22px 5px; display: table-cell;}
footer .social a:hover, footer a:hover { color:rgba(255, 255, 255, 0.5); text-decoration: none; }

footer .bottom { bottom:0; vertical-align: bottom;}

.footer-widgets-panel .row {position: relative;}
.footer-widgets-panel .bottom {
   display: table-cell;
  vertical-align: bottom;
  float: none;
  }
footer .menu ul {padding-left: 0; margin-bottom: 5px;}
footer .menu li{ list-style: none;  }
footer .menu li a{ font-weight: 900;}

.footer-cta {
	background-color: rgba(50, 118, 176, 1);
	padding: 30px 0;
}


.footer-cta .vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}


.footer-cta h3 {margin-top: 0px;}

@media (min-width: 1200px) {

}


@media only screen and (min-width: 768px) and (max-width: 959px) {

}


@media only screen and (max-width: 767px) {
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
}